@model IEnumerable<HealthScreening.Models.Bill>

@{
    ViewBag.Title = "viewbills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adminid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.billamount)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adminid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.billamount)
        </td>
    </tr>
}

</table>
